<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Handheld friendly reference from: https://developer.blackberry.com/playbook/html5/documentation/handheldfriendly.html-->
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../styles/commonstyles.css">
    <link rel="stylesheet" href="../styles/contactme.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Satisfy&display=swap" rel="stylesheet">    
    <title>Disha's Portfolio</title>
</head>
<body>
    <div class = "container">
    <header>
        <ul class="navbar">
          <li><a href="../index.html">home</a></li>
          <li><a href="projects.html">projects</a></li>
          <li><a  class = "current" href="#">contact me</a></li> 
          <li><a href="poetry.html">poetry written by me</a></li>         
        </ul>
      </header>


    <div id = "contactme" >
        <h2 class = "typewriter title"> Here are some ways of reaching out to me! </h2>
        <div class="grid-wrapper">
            <div class="grid-item email">
              <img class = "grid-image" src = "../images/gmail.png" alt = "Gmail">
              <p> <a href = "mailto:saraiya.di@northeastern.edu"> email</a></p> 
            </div>
            <div class="grid-item linkedin">
                <img class = "grid-image" src = "../images/linkedin.png" alt = "Linkedin">
              <p> <a href = "https://www.linkedin.com/in/dishasaraiya/" target = "_blank"> linkedin </a></p>  
            </div>
            <div class="grid-item github">
                <img class = "grid-image" src = "../images/github.png" alt = "Github">
                <p><a href = "https://github.com/disha-saraiya" target = "_blank">github</a></p>
            </div>
            <div class="grid-item portfolio">
                <img class = "grid-image" src = "../images/portfolio.png" alt = "Portfolio">
                <p><a href = "https://disha-saraiya.surge.sh/" target = "_blank">portfolio</a></p>
            </div>
          </div>
</div>
</body>
</html>