<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Handheld friendly reference from: https://developer.blackberry.com/playbook/html5/documentation/handheldfriendly.html-->
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../styles/commonstyles.css">
    <link rel="stylesheet" href="../styles/projects.css">
    <link rel="stylesheet" href="../styles/poetry.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Satisfy&display=swap" rel="stylesheet">    
    <title>Disha's Portfolio</title>
</head>
<body>
    <div class = "container">
    <header>
        <ul class="navbar">
          <li><a href="../index.html">home</a></li>
          <li><a href="projects.html">projects</a></li>
          <li><a href="contactme.html">contact me</a></li> 
          <li><a class = "current" href="#">poems written by me</a></li>         
        </ul>
      </header>


    <div>
        <h2 class = "typewriter title"> These are some poems written by me </h2>
        <div class = "container">
            <div class = "row">
                <div class = "poetry shadow-large">
                    <div class = "poetry-content">
                        <h3> A Winter to Winter Thing </h3>
                        <p>  
                            A wise old man, who thought he knew <br />
                            All the world's this and that, <br />
                            Sat next to a young lad on a park bench, <br />
                            Thinking he'd baffle him with a question up his hat. <br /> 
                            So the old man asked the boy afresh, <br />
                            "Tell me son, what is love?"<br />
                            The lad, snoozing nice and relaxed,<br /> 
                            Cleared his throat and looked at the sky above.<br />
                            "Love is the sky, it changes color<br />
                            According to how it feels, <br />
                            Black during a storm, blue when it's clear,<br /> 
                            Because a mundane sky is something nobody needs. <br />
                            Love is the tree that sways in the wind, <br />
                            The wind of flowing emotion, <br />
                            It sways and sways but stays it's place <br />
                            Even during the worst of season. <br />
                            From seasons, I recall, <br />
                            People say love is the summer- bright and shining, <br /> 
                            But oh dear chap, I'd say otherwise<br />
                            I'd say it's a winter to winter thing..." <br />
                            <br />
                            "Winter?!", the man exclaimed<br />
                            "But winter's so cruel and cold!"<br />
                            "Well", the boy smiled and said<br />
                            "How else can you know what love can uphold? <br />
                            In summer, the days are happy and easy<br />
                            The world is free to roam, <br />
                            The flowers are blooming, the skies are shining,<br /> 
                            Everyone is outside their home. <br />
                            In winter, you see, it's bitter and dark <br />
                            It stings, it bites and it tests your power<br />
                            But it is truly only in winter, <br />
                            That you're warm at home, in the darkest hour.<br /> 
                            Love is the rain that falls on rocks, <br />
                            It washes away the soil, <br />
                            Leaves you feeling fresh and new<br />
                            Free and renewed from your turmoil. <br />
                            Love is the snow that covers the ground, <br />
                            Leaves a blanket so white and joyful, <br />
                            But be warned! The same snow can melt, <br />
                            And make you trip if you're not careful. <br />
                            Love is the pain you feel in your heart<br />
                            The purest, most helpless form of sorrow,<br />
                            It's the tears that just don't stop<br />
                            Until you've fallen asleep on your pillow.<br /> 
                            Love is the joy, the smile and laugh<br />
                            You see on an infant's face- <br />
                            Raw, truthful, pristine, divine<br />
                            Enough to fill all your days. <br />
                            Love is devotion, love is faith,  <br />
                            Love is the thing keeping you sane, <br />
                            It can conquer, it can overcome anything <br />
                            As long as keep it alive." <br />
                            <br />
                            The old man, stuck in awe had nothing to say, <br />
                            Just a tear rolling down his cheek, <br />
                            For on that warm summer day in a garden, <br />
                            A young lad left him feeling weak.             <br />                                           
                        </p>
                    </div>
                </div>

                <div class = "poetry shadow-large">
                    <div class = "poetry-content">
                        <h3> The Cure </h3>
                        <p>  
                            Far away, in this moonlight <br />
                            Are you thinking of me? <br />
                            In your head, in your mind? <br />
                            Tell me now, don't keep this from me <br /> 
                            I can't take it anymore <br />
                            I'm waiting.. <br />
                            <br />
                            Waiting for an answer, <br />
                            A solution I can't find <br />
                            Waiting for a single word <br />
                            That leaves the pain behind <br />
                            Waiting for the sunshine <br />
                            A spark of dawn that's new <br />
                            Waiting for a cure <br />
                            A cure that's called you. <br />                             
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>