body{
/* Background taken from - https://uigradients.com/#VelvetSun */ 
background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    display: flex;
    flex-direction: column; 

}

.title{
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;

}

/* typewriter effect inspired by - https://css-tricks.com/snippets/css/typewriter-effect/ 
and https://stackoverflow.com/questions/44359070/stopping-a-blinking-cursor-at-end-of-css-animation */ 
.typewriter{
    overflow: hidden; 
    border-right: .15em solid transparent; 
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end 1;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
